.formContainer {
  margin-top: 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 2rem;
  border-radius: 10px;
  width: 720px;
}
.formContainer div,
.formContainer input {
  margin-top: 1.2rem;
}
.formContainer input{
    border-radius: 5px;
    border: 2px solid gray;
    transition: all 0.2s ease-in;
    text-align: center;
    width: 90%;
    height: 30px;
}
.formContainer input:focus{
    transform: scale(1.1);
}
.btnContainer{
    display: flex;
    justify-content: space-around;
}
.btnContainer button{
    background: none;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px 1.2rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.btnContainer button:hover{
    background-color: gray;
    color: white;
}